.articles{
    width:80%;
    background-color: white;
    border: 1px solid #242629;
        padding:1rem;
    border-radius: 0.3rem;
}

.detail-articles{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.list-articles{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-back-top{
    background-color: rgb(186, 186, 186);
    position: fixed;
            bottom: 20px;
            right: 10px;
            cursor: pointer;

}
#article{
    width: 90% !important;
}

#table{
    width: 90%;
    height: 300px;
    background-color: grey;
}

.content-table{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
}
#img-couverture {
    background-position: center bottom;
}

.div-article{
    height:200px;
}